* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --background-color: rgb(228, 234, 241);
}

.sidebar {
    background-color: #0091ff;
    grid-row: 1 / 4;
    padding: 5px;
    color: white;
    font-size: 1.5em;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    padding-left: 20px;
}

.sidebar > ul {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    gap: 5px;
}

.header {
    grid-column: 2 / 4;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
}

.search-bar {
    align-self: center;
    justify-self: center;
    width: 50%;
}

.profile {
    align-self: center;
    justify-self: end;
    padding: 20px;
}

.header-greeting {
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.header-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.your-projects {
    background-color: var(--background-color);
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.your-projects > .cards {
    flex-grow: 1;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.single-card {
    background: white;
    padding: 5px;
    min-height: 225px;
}

.announcements {
    background-color: var(--background-color);
    padding: 5px;
}

.announcements-item {
    background: white;
    border: solid black;
    padding: 5px;
}

.trending {
    background-color: var(--background-color);
    grid-column: 3 / 4;
    padding: 5px;
}

.trending-item {
    background: white;
    border: solid black;
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}